footer{
	background:$footer;
	padding:15px;
	color:white;
	.row{
		justify-content:space-between;
		align-items:center;
		.esquerda{
			img{
				@extend .img-fluid;
				margin-right:15px;
			}
		}
		.direita{
			a{
				color:#97abb9;
				&:hover{
					text-decoration:none;
				}
				.show{
					display:block;
				}
			}
		}
	}
}
div{
	a{
		img{
			display:none;
		}
	}
}